{% extends 'base2.html' %}

{% block content %}
<body style="background-color: cadetblue;">
    
</body>
<div class="container center">
  <div class="row">
    <div class="col md-4"></div>
    <div class="col-md-4 mt-5">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="card">
          <div class="card-header text-center"><i class="fas fa-user"></i>Create account</div>
          <div class="card-body">
            {{ form}}
          </div>
          <div class="card-footer">

            <button class="btn btn-primary btn-block">Creer un compte</button>
            <p>vous avez deja un compte?<a href="{% url 'login' %}">connectez-vous</a></p>
          </div>
        </div>
      </form>

    </div>
    <div class="col md-3"></div>
  </div>

</div>
{% endblock %}