#chargeur{
    margin-top: 5px;
}

.rd{
    font-size: 10px;
    font-weight: bold;
    color: black;
}
.radio{
    color: blue;
    font-weight: bold;

}

.label1{
    font-weight: bold;
    color: black;
}
.inputCostum{
    width: 500px;
}

.cout{
    font-size: 2px;
    font-weight: bold;
}

#th{
    font-size: 2px;
}